<a href="https://colab.research.google.com/github/joachinhimself/My-projects-/blob/main/Tableau_Project_(CASES_EDA).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [11]:
df_cases = pd.read_csv('/content/sample_data/COVID-19 Cases.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (8) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [12]:
df_cases.head()

   Case_Type  ...     Prep_Flow_Runtime
0  Confirmed  ...  6/4/2020 11:15:39 PM
1  Confirmed  ...  6/4/2020 11:15:39 PM
2     Deaths  ...  6/4/2020 11:15:39 PM
3  Confirmed  ...  6/4/2020 11:15:39 PM
4     Deaths  ...  6/4/2020 11:15:39 PM

[5 rows x 18 columns]

In [13]:
df_cases.sample(10)

        Case_Type  ...     Prep_Flow_Runtime
488564  Confirmed  ...  6/4/2020 11:15:39 PM
177918  Confirmed  ...  6/4/2020 11:15:39 PM
627232  Confirmed  ...  6/4/2020 11:15:39 PM
545014  Confirmed  ...  6/4/2020 11:15:39 PM
86199   Confirmed  ...  6/4/2020 11:15:39 PM
357820     Deaths  ...  6/4/2020 11:15:39 PM
49944      Deaths  ...  6/4/2020 11:15:39 PM
536760     Deaths  ...  6/4/2020 11:15:39 PM
545309  Confirmed  ...  6/4/2020 11:15:39 PM
360221     Deaths  ...  6/4/2020 11:15:39 PM

[10 rows x 18 columns]

In [14]:
df_cases.shape

(628086, 18)

In [15]:
df_cases.columns

Index(['Case_Type', 'People_Total_Tested_Count', 'Cases', 'Difference', 'Date',
       'Combined_Key', 'Country_Region', 'Province_State', 'Admin2', 'iso2',
       'iso3', 'FIPS', 'Lat', 'Long', 'Population_Count',
       'People_Hospitalized_Cumulative_Count', 'Data_Source',
       'Prep_Flow_Runtime'],
      dtype='object')

In [16]:
df_cases.dtypes

Case_Type                                object
People_Total_Tested_Count               float64
Cases                                     int64
Difference                                int64
Date                                     object
Combined_Key                             object
Country_Region                           object
Province_State                           object
Admin2                                   object
iso2                                     object
iso3                                     object
FIPS                                    float64
Lat                                     float64
Long                                    float64
Population_Count                        float64
People_Hospitalized_Cumulative_Count    float64
Data_Source                              object
Prep_Flow_Runtime                        object
dtype: object

In [17]:
df_cases.info

<bound method DataFrame.info of         Case_Type  ...     Prep_Flow_Runtime
0       Confirmed  ...  6/4/2020 11:15:39 PM
1       Confirmed  ...  6/4/2020 11:15:39 PM
2          Deaths  ...  6/4/2020 11:15:39 PM
3       Confirmed  ...  6/4/2020 11:15:39 PM
4          Deaths  ...  6/4/2020 11:15:39 PM
...           ...  ...                   ...
628081     Deaths  ...  6/4/2020 11:15:39 PM
628082     Deaths  ...  6/4/2020 11:15:39 PM
628083     Deaths  ...  6/4/2020 11:15:39 PM
628084     Deaths  ...  6/4/2020 11:15:39 PM
628085     Deaths  ...                   NaN

[628086 rows x 18 columns]>

In [18]:
df_cases.describe(include='all')

        Case_Type  ...     Prep_Flow_Runtime
count      628086  ...                628085
unique          2  ...                     1
top     Confirmed  ...  6/4/2020 11:15:39 PM
freq       314241  ...                628085
mean          NaN  ...                   NaN
std           NaN  ...                   NaN
min           NaN  ...                   NaN
25%           NaN  ...                   NaN
50%           NaN  ...                   NaN
75%           NaN  ...                   NaN
max           NaN  ...                   NaN

[11 rows x 18 columns]

In [19]:
df_cases.isnull().sum()
# missing values

Case_Type                                    0
People_Total_Tested_Count               624214
Cases                                        0
Difference                                   0
Date                                         0
Combined_Key                                 1
Country_Region                               1
Province_State                           49045
Admin2                                   71081
iso2                                      1073
iso3                                       805
FIPS                                     89330
Lat                                      18557
Long                                     18557
Population_Count                         18557
People_Hospitalized_Cumulative_Count    624214
Data_Source                                  1
Prep_Flow_Runtime                            1
dtype: int64

# percentage of missing values for each columns

In [20]:
df_cases.isnull().sum()/df_cases.shape[0] * 100              

# People_Total_Tested_Count can be dropped as it has more than 99% null
# Province_State can be used to compare individual states in the United sstates and their cases but has more than 5% missing values
# FIPS (US only - 5-digit Federal Information Processing Standard) can be dropped as it cannot be related with other countries.
# Admin2 (US only - County name) can be dropped unless we want to work with only the United states information.
# People_Hospitalized_Cumulative_Count can be dropped as well because it is 99% null
# lat and long can be used to pinpoint the places that the virus was much on
# population_count null values can be filled to makeup for the 3% null value

Case_Type                                0.000000
People_Total_Tested_Count               99.383524
Cases                                    0.000000
Difference                               0.000000
Date                                     0.000000
Combined_Key                             0.000159
Country_Region                           0.000159
Province_State                           7.808644
Admin2                                  11.317081
iso2                                     0.170836
iso3                                     0.128167
FIPS                                    14.222575
Lat                                      2.954532
Long                                     2.954532
Population_Count                         2.954532
People_Hospitalized_Cumulative_Count    99.383524
Data_Source                              0.000159
Prep_Flow_Runtime                        0.000159
dtype: float64

In [21]:
df_cases['Country_Region'].value_counts()

US                       557869
China                      8844
Canada                     3216
France                     2948
United Kingdom             2948
                          ...
Bahamas                     268
Sao Tome and Principe       268
Cabo Verde                  268
Afghanistan                 268
Malawi                      268
Name: Country_Region, Length: 187, dtype: int64

In [22]:
df_cases['Country_Region'].value_counts()/df_cases.shape[0] * 100
# Almost 93% of the country data is from the United states

US                       88.820480
China                     1.408087
Canada                    0.512032
France                    0.469362
United Kingdom            0.469362
                           ...
Bahamas                   0.042669
Sao Tome and Principe     0.042669
Cabo Verde                0.042669
Afghanistan               0.042669
Malawi                    0.042669
Name: Country_Region, Length: 187, dtype: float64

In [23]:
df_cases[df_cases['Country_Region']=='US'].count()
# People_Total_Tested_Count and People_Hospitalized_Cumulative_Count can be dropped if we want to work with US because it has lots of null values

Case_Type                               557869
People_Total_Tested_Count                 3872
Cases                                   557869
Difference                              557869
Date                                    557869
Combined_Key                            557869
Country_Region                          557869
Province_State                          557869
Admin2                                  557005
iso2                                    557869
iso3                                    557869
FIPS                                    538756
Lat                                     540117
Long                                    540117
Population_Count                        540117
People_Hospitalized_Cumulative_Count      3872
Data_Source                             557869
Prep_Flow_Runtime                       557869
dtype: int64

In [24]:
df_cases['Case_Type'].value_counts()
# this is good for us to know how many people that died and people confirmed with the virus

Confirmed    314241
Deaths       313845
Name: Case_Type, dtype: int64

In [25]:
df_cases['Data_Source'].value_counts()

2019 Novel Coronavirus COVID-19 (2019-nCoV) Data Repository by Johns Hopkins CSSE    628085
Name: Data_Source, dtype: int64

*# Dropped People_Total_Tested_Count & People_Hospitalized_Cumulative_Count*

In [26]:
df_cases.drop(['People_Total_Tested_Count', 'People_Hospitalized_Cumulative_Count'], axis=1)
# dropped People_Total_Tested_Count and People_Hospitalized_Cumulative_Count because they have much null values.

        Case_Type  ...     Prep_Flow_Runtime
0       Confirmed  ...  6/4/2020 11:15:39 PM
1       Confirmed  ...  6/4/2020 11:15:39 PM
2          Deaths  ...  6/4/2020 11:15:39 PM
3       Confirmed  ...  6/4/2020 11:15:39 PM
4          Deaths  ...  6/4/2020 11:15:39 PM
...           ...  ...                   ...
628081     Deaths  ...  6/4/2020 11:15:39 PM
628082     Deaths  ...  6/4/2020 11:15:39 PM
628083     Deaths  ...  6/4/2020 11:15:39 PM
628084     Deaths  ...  6/4/2020 11:15:39 PM
628085     Deaths  ...                   NaN

[628086 rows x 16 columns]

# Comparing the countries/states with the number of cases

In [27]:
df_cases.groupby('Country_Region')['Cases'].sum()

Country_Region
Afghanistan           328709
Albania                53351
Algeria               353526
Andorra                51381
Angola                  2799
                       ...
West Bank and Gaza     24153
Western Sahara           398
Yemen                   6932
Zambia                 25204
Zimbabwe                3645
Name: Cases, Length: 187, dtype: int64

In [28]:
df_cases.groupby('Province_State')['Cases'].sum()

Province_State
Alabama           375210
Alaska             13445
Alberta           316400
American Samoa         0
Anguilla             202
                   ...
Wyoming            22966
Xinjiang            9386
Yukon                667
Yunnan             22457
Zhejiang          153657
Name: Cases, Length: 135, dtype: int64

In [29]:
df_cases[df_cases['Country_Region']=='US'].groupby('Province_State')['Cases'].sum()

Province_State
Alabama                       375210
Alaska                         13445
American Samoa                     0
Arizona                       419149
Arkansas                      152922
California                   2615903
Colorado                      703999
Connecticut                  1153847
Delaware                      218980
District of Columbia          222302
Florida                      1525965
Georgia                      1248809
Guam                            6292
Hawaii                         23770
Idaho                          87406
Illinois                     2785406
Indiana                       870242
Iowa                          381877
Kansas                        224592
Kentucky                      241199
Louisiana                    1296378
Maine                          58845
Maryland                     1139662
Massachusetts                2829777
Michigan                     1829175
Minnesota                     458249
Mississippi                   350528
Missouri                      344491
Montana                        19599
Nebraska                      266021
Nevada                        203545
New Hampshire                 112083
New Jersey                   5277002
New Mexico                    160720
New York                    13893175
North Carolina                571250
North Dakota                   59838
Northern Mariana Islands         766
Ohio                          848906
Oklahoma                      181944
Oregon                        113235
Pennsylvania                 2259822
Puerto Rico                    90429
Rhode Island                  409683
South Carolina                274687
South Dakota                  117951
Tennessee                     551185
Texas                        1434773
Utah                          225427
Vermont                        35506
Virgin Islands                  2913
Virginia                      901309
Washington                    714810
West Virginia                  48597
Wisconsin                     408231
Wyoming                        22966
Name: Cases, dtype: int64

#how many people tested positive each day

In [30]:
df_cases.groupby('Country_Region')['Difference'].sum()

Country_Region
Afghanistan           18354
Albania                1230
Algeria               10512
Andorra                 903
Angola                   90
                      ...
West Bank and Gaza      467
Western Sahara           10
Yemen                   556
Zambia                 1096
Zimbabwe                241
Name: Difference, Length: 187, dtype: int64

In [31]:
df_cases[df_cases['Country_Region']=='US'].groupby('Province_State')['Difference'].sum()

Province_State
Alabama                      12206
Alaska                         306
American Samoa                   0
Arizona                      14937
Arkansas                      5855
California                   83644
Colorado                     17733
Connecticut                  26247
Delaware                      5725
District of Columbia          5706
Florida                      41900
Georgia                      34274
Guam                           126
Hawaii                         488
Idaho                         1769
Illinois                     90640
Indiana                      25285
Iowa                         13064
Kansas                        6593
Kentucky                      7738
Louisiana                    28318
Maine                         1619
Maryland                     37065
Massachusetts                73355
Michigan                     40632
Minnesota                    17455
Mississippi                  11403
Missouri                      9586
Montana                        321
Nebraska                     10051
Nevada                        5495
New Hampshire                 3323
New Jersey                  115165
New Mexico                    5275
New York                    270868
North Carolina               21000
North Dakota                  2072
Northern Mariana Islands        27
Ohio                         24772
Oklahoma                      4911
Oregon                        2713
Pennsylvania                 56111
Puerto Rico                   3312
Rhode Island                 12148
South Carolina                7835
South Dakota                  3617
Tennessee                    16834
Texas                        46054
Utah                          6664
Vermont                        586
Virgin Islands                  49
Virginia                     31963
Washington                   15058
West Virginia                 1294
Wisconsin                    13484
Wyoming                        609
Name: Difference, dtype: int64

#Date data was recorded in countries/states in the us

In [32]:
df_cases.groupby('Country_Region')['Date'].sum()

Country_Region
Afghanistan           2/14/20202/29/20204/11/20206/3/20204/15/20204/...
Albania               2/21/20204/19/20205/10/20201/31/20203/30/20202...
Algeria               4/3/20205/6/20203/10/20205/15/20203/29/20204/2...
Andorra               4/19/20203/13/20202/4/20203/27/20205/27/20205/...
Angola                3/9/20202/26/20205/10/20205/9/20203/23/20203/1...
                                            ...
West Bank and Gaza    2/7/20202/24/20204/30/20202/16/20205/13/20202/...
Western Sahara        5/22/20204/17/20201/27/20203/18/20204/10/20203...
Yemen                 4/4/20204/11/20205/26/20204/6/20204/1/20203/12...
Zambia                5/15/20201/31/20204/8/20205/8/20204/12/20205/2...
Zimbabwe              3/31/20205/10/20203/8/20202/2/20205/27/20204/1...
Name: Date, Length: 187, dtype: object

In [33]:
df_cases[df_cases['Country_Region']=='US'].groupby('Province_State')['Date'].sum()

Province_State
Alabama                     4/28/20203/9/20203/1/20202/20/20205/24/20202/2...
Alaska                      2/16/20202/17/20204/3/20205/21/20205/20/20203/...
American Samoa              2/13/20202/4/20201/29/20205/12/20202/15/20203/...
Arizona                     4/18/20204/3/20205/9/20202/16/20206/4/20203/12...
Arkansas                    3/27/20203/25/20202/15/20205/20/20202/15/20204...
California                  6/4/20204/24/20205/24/20203/27/20204/26/20202/...
Colorado                    3/29/20201/24/20202/3/20205/9/20204/1/20203/22...
Connecticut                 5/19/20202/27/20203/28/20204/7/20201/31/20203/...
Delaware                    3/22/20204/6/20205/11/20203/22/20202/4/20204/1...
District of Columbia        6/1/20203/27/20205/15/20205/6/20204/25/20202/2...
Florida                     2/28/20202/10/20205/10/20202/20/20202/19/20203...
Georgia                     1/23/20204/28/20202/17/20205/26/20204/20/20203...
Guam                        1/27/20203/18/20203/4/20203/17/20205/23/20203/...
Hawaii                      4/3/20206/4/20203/10/20202/5/20204/14/20204/23...
Idaho                       3/2/20203/10/20202/27/20205/22/20204/5/20203/3...
Illinois                    3/30/20203/15/20205/8/20205/4/20203/3/20205/4/...
Indiana                     2/2/20201/31/20205/22/20204/28/20205/19/20205/...
Iowa                        5/30/20204/11/20203/12/20204/11/20204/7/20201/...
Kansas                      5/3/20205/25/20204/20/20204/19/20201/26/20204/...
Kentucky                    3/9/20205/11/20205/24/20203/2/20204/22/20203/5...
Louisiana                   2/26/20203/14/20203/16/20203/6/20203/2/20203/2...
Maine                       3/19/20202/29/20203/25/20205/5/20203/27/20201/...
Maryland                    3/17/20204/5/20202/14/20203/22/20203/30/20203/...
Massachusetts               5/21/20203/4/20205/11/20203/15/20204/5/20204/1...
Michigan                    3/25/20202/21/20202/15/20203/9/20203/4/20203/5...
Minnesota                   2/2/20206/1/20205/30/20203/24/20203/9/20202/7/...
Mississippi                 5/5/20204/10/20205/18/20201/29/20201/27/20202/...
Missouri                    5/6/20205/20/20204/12/20203/4/20202/27/20202/1...
Montana                     5/7/20203/14/20204/14/20202/2/20204/14/20203/1...
Nebraska                    5/26/20205/20/20204/15/20202/17/20203/8/20204/...
Nevada                      6/4/20204/18/20204/21/20205/30/20205/13/20203/...
New Hampshire               2/12/20203/9/20206/3/20203/29/20202/6/20203/10...
New Jersey                  4/9/20205/15/20206/4/20205/17/20203/31/20203/2...
New Mexico                  5/3/20202/10/20202/10/20205/26/20205/26/20202/...
New York                    2/2/20205/10/20205/29/20204/20/20204/12/20203/...
North Carolina              3/3/20203/28/20204/16/20202/9/20202/12/20202/2...
North Dakota                5/4/20205/10/20204/23/20203/30/20202/20/20203/...
Northern Mariana Islands    5/12/20204/12/20203/26/20203/9/20204/5/20205/9...
Ohio                        5/14/20204/6/20204/11/20202/6/20205/4/20206/4/...
Oklahoma                    3/20/20202/15/20202/3/20205/14/20205/15/20203/...
Oregon                      2/10/20205/23/20203/29/20205/1/20203/7/20202/2...
Pennsylvania                4/8/20206/1/20205/6/20202/24/20204/17/20204/6/...
Puerto Rico                 4/22/20205/3/20204/25/20205/16/20205/30/20205/...
Rhode Island                5/19/20202/11/20204/27/20203/12/20205/24/20202...
South Carolina              2/21/20201/31/20202/11/20202/19/20204/8/20202/...
South Dakota                2/11/20202/25/20202/12/20204/5/20203/12/20204/...
Tennessee                   1/30/20205/7/20204/19/20203/8/20203/22/20203/1...
Texas                       4/13/20203/27/20204/1/20203/7/20205/22/20203/2...
Utah                        4/29/20205/14/20204/5/20203/8/20202/7/20205/30...
Vermont                     3/2/20203/3/20205/10/20205/22/20202/23/20205/4...
Virgin Islands              5/26/20205/4/20205/8/20204/10/20205/10/20201/2...
Virginia                    3/19/20205/29/20202/20/20202/9/20201/29/20204/...
Washington                  4/10/20204/19/20203/28/20204/23/20205/23/20201...
West Virginia               4/11/20202/13/20203/26/20202/24/20205/24/20202...
Wisconsin                   2/13/20205/21/20205/15/20203/23/20205/5/20203/...
Wyoming                     4/6/20203/8/20202/2/20202/20/20205/19/20202/29...
Name: Date, dtype: object

#Population_Count to compare with Cases

In [34]:
df_cases.groupby('Population_Count')['Cases'].sum()

Population_Count
8.600000e+01           0
1.690000e+02           0
2.720000e+02           0
4.040000e+02           0
4.630000e+02           0
                  ...
2.061396e+08      252607
2.125594e+08    12014992
2.208923e+08     1860874
2.735236e+08      892193
1.380004e+09     4528222
Name: Cases, Length: 3360, dtype: int64